<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home | Assessment Body | Skill Council for Green Jobs</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/styles/style.css"/>
	<link rel="icon" href="../assets/images/favicon.ico"/>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar fixed-top navbar-light bg-light">
		<a class="navbar-brand" href="http://sscgj.in/about-us/" target="_blank">
			<img src="../assets/images/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="SCGJ"> Skill Council for Green Jobs
		</a>
	</nav>
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-md-3">
				<img src="../assets/images/org.png" class="rounded-circle img-fluid img-thumbnail mx-auto d-block user-img" alt="ABOrganisation">
				<h4>Hello, Assessment Body!</h4>
				<ul class="nav flex-column">
				  <li class="nav-item">
				    <a class="nav-link active" href="#">Dashboard</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">Apply for Affiliation</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">Logout</a>
				  </li>
				</ul>
			</div>
		<div class="col-md-9">
		<!-- Application status table -->
		<p class="lead">Application Status</p>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr class="table-success">
			      <th scope="col">Application ID</th>
			      <th scope="col">Date of Submission</th>
			      <th scope="col">Submitted By</th>
			      <th scope="col">Status</th>
			      <th scope="col">Action</th>
			      <th scope="col">Comments</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr>
			  		<th scope="row">AB1</th>
			  		<td>May 24, 2018</td>
			  		<td>Otto</td>
			  		<td>Pending</td>
			  		<td>Some action here</td>
			  		<td>Comments here</td>
			  	</tr>
			  	<tr>
			  		<th scope="row">AB2</th>
			  		<td>April 17, 2018</td>
			  		<td>Mark</td>
			  		<td>Pending</td>
			  		<td>Some action here</td>
			  		<td>Comments here</td>
			  	</tr>
			  </tbody>
			</table>
		</div>
		<!-- Past batches table -->
		<p class="lead">Past Batches</p>
		<div class="table-responsive">
			<table class="table table-striped table-hover text-center">
				<thead>
					<tr class="table-success">
			      <th scope="col">Batch ID</th>
			      <th scope="col">Training Partner</th>
			      <th scope="col">Assessment Date</th>
			      <th scope="col">District</th>
			      <th scope="col">Number of Candidates</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr>
			  		<th scope="row">Batch1</th>
			  		<td>Galaxy</td>
			  		<td>November 19, 2017</td>
			  		<td>South</td>
			  		<td>50</td>
			  	</tr>
			  	<tr>
			  		<th scope="row">Batch22</th>
			  		<td>Supernova</td>
			  		<td>January 14, 2017</td>
			  		<td>West</td>
			  		<td>60</td>
			  	</tr>
			  </tbody>
			</table>
		</div>
		<!-- Proposed batches table -->
		<p class="lead">Proposed Batches</p>
		<div class="table-responsive">
			<table class="table table-striped table-hover text-center">
				<thead>
					<tr class="table-success">
			      <th scope="col">Batch ID</th>
			      <th scope="col">Training Partner</th>
			      <th scope="col">Assessment Date</th>
			      <th scope="col">District</th>
			      <th scope="col">Number of Candidates</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr>
			  		<th scope="row">Batch1</th>
			  		<td>Taurus</td>
			  		<td>November 19, 2018</td>
			  		<td>East</td>
			  		<td>50</td>
			  		<td>Some action here</td>
			  	</tr>
			  	<tr>
			  		<th scope="row">Batch22</th>
			  		<td>Littrow</td>
			  		<td>September 06, 2018</td>
			  		<td>North</td>
			  		<td>60</td>
			  		<td>Some action here</td>
			  	</tr>
			  </tbody>
			</table>
		</div>
		<!-- Confirmed batches table -->
		<p class="lead">Confirmed Batches</p>
		<div class="table-responsive">
			<table class="table table-striped table-hover text-center">
				<thead>
					<tr class="table-success">
			      <th scope="col">Batch ID</th>
			      <th scope="col">Training Partner</th>
			      <th scope="col">Assessment Date</th>
			      <th scope="col">District</th>
			      <th scope="col">Number of Candidates</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr>
			  		<th scope="row">Batch1</th>
			  		<td>Boeing</td>
			  		<td>July 30, 2018</td>
			  		<td>South</td>
			  		<td>50</td>
			  	</tr>
			  	<tr>
			  		<th scope="row">Batch22</th>
			  		<td>Blue Origin</td>
			  		<td>August 14, 2018</td>
			  		<td>West</td>
			  		<td>60</td>
			  	</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
	</div>
	<!-- Bootrstrap JavaScript links -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>
